@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.root {
    -fx-background-color: #383838;
    -fx-font-size: 11pt;
    -fx-font-family: "Oswald";
}

.label {
    -fx-text-fill: white;
}

.red-button {
    -fx-background-color: #EE5545;
    -fx-background-radius: 6;
    -fx-font-size: 10pt;
}